{% extends 'base.html.twig' %}

{% block title %}Bar index{% endblock %}

{% block body %}
    <h1>Bar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Licence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bar in bars %}
            <tr>
                <td>{{ bar.id }}</td>
                <td>{{ bar.nom }}</td>
                <td>{{ bar.licence }}</td>
                <td>
                    <a href="{{ path('app_bar_show', {'id': bar.id}) }}">show</a>
                    <a href="{{ path('app_bar_edit', {'id': bar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bar_new') }}">Create new</a>
{% endblock %}
